<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-4 presentation">
				<f:link.page pageUid="{tsConf.page.specialPages.authorPresentationPage}" class="avatar" title="{f:translate(key: 'avatar.hint')}">
					<f:image src="EXT:skin_typo360_blogs/Resources/Public/Images/Frontend/avatar.jpg" class="img-circle" width="64" height="64" />
				</f:link.page>
			<!--</div>-->

			<!--<div class="col-md-5 presentation">-->
				<!--<h3>-->
					<!--{tsConf.social.author}-->
					<!--<f:if condition="{tsConf.social.author_mini_description}">-->
						<!--<br />-->
						<!--<small>{tsConf.social.author_mini_description}</small>-->
					<!--</f:if>-->
				<!--</h3>-->
				<div class="social-icons">
					<f:render partial="SocialIcons" arguments="{_all}" />
				</div>
			</div>

			<hr class="hidden-md hidden-lg" />

			<!--<div class="col-md-3"></div>-->

			<div class="col-md-3 col-md-push-2">
				<f:render partial="Friends" />
			</div>

			<hr class="hidden-md hidden-lg" />

			<div class="col-md-2 col-md-push-3">
				<f:link.external uri="http://validator.w3.org/check?uri={tsConf.request.requestUri}" class="html5-valid" target="_blank" title="{f:translate(key: 'footer.html5_valid')}">
					<f:image class="desaturate" src="EXT:skin_typo360_blogs/Resources/Public/Images/Frontend/html5-valid-logo.png" />
				</f:link.external>
			</div>
		</div>
	</div>
</footer>