<div class="presentation">
	<f:link.page pageUid="{tsConf.page.specialPages.authorPresentationPage}" class="avatar" title="{f:translate(key: 'avatar.hint')}">
		<f:image src="EXT:skin_typo360_blogs/Resources/Public/Images/Frontend/avatar.jpg" class="img-circle" width="128" height="128" />
	</f:link.page>

	<h3 class="presentation">
		{tsConf.social.author}
		<f:if condition="{tsConf.social.author_mini_description}">
			<br />
			<small>{tsConf.social.author_mini_description}</small>
		</f:if>
	</h3>
</div>
<hr />

<f:render partial="SocialIcons" arguments="{_all}" />

<hr />

<f:if condition="{tsConf.social.twitterWidgetId}">
	<div class="twitter-embed">
		<a class="btn btn-default collapsed" data-toggle="collapse" data-target="#twitter-feed" onclick="refreshTwitterEmbedCookie(); setTwitterEmbed();">
			<i class="fa fa-twitter fa-stack-1x"></i>
			<f:translate key="left_menu.twitter_feed_label" />
			<span class="glyphicon glyphicon-resize-small"></span>
		</a>
		<div id="twitter-feed" class="collapse">
			<a class="twitter-timeline" href="https://twitter.com/{tsConf.social.twitter}" data-widget-id="{tsConf.social.twitterWidgetId}"><img src="typo3/sysext/t3skin/images/spinner/big-f0f0f0.gif" class="img-thumbnail" alt="{f:translate(key: 'LLL:EXT:lang/locallang_core.xlf:loadingIndicator')}" /></a>
			<script type="text/javascript">
				jQuery(document).ready(function () {
					var cookie = getCookie('twitterEmbed');
					if (cookie === 'true') {
						setTwitterEmbed();
						jQuery('#twitter-feed').collapse();
						jQuery('.twitter-embed .btn').removeClass('collapsed');
//						jQuery('#twitter-feed').addClass('in');
					}
				});

				function refreshTwitterEmbedCookie() {
					var cookie = getCookie('twitterEmbed');
					if (cookie === '' || cookie === 'false') {
						setCookie('twitterEmbed', true, 1000);
					}
					else {
						setCookie('twitterEmbed', false, 1000);
					}
				}

				var twitterEmbedSet = false;
				function setTwitterEmbed() {
					if(twitterEmbedSet)
						return;
					twitterEmbedSet = true;

					var d = document;
					var s = 'script';
					var id = 'twitter-wjs';

					var js,
							fjs = d.getElementsByTagName(s)[0],
							p = /^http:/.test(d.location) ? 'http' : 'https';

					if(!d.getElementById(id)) {
						js = d.createElement(s);
						js.id = id;
						js.src = p+"://platform.twitter.com/widgets.js";
						fjs.parentNode.insertBefore(js, fjs);
					}
				};
			</script>
		</div>
	</div>

	<hr class="hidden-md hidden-lg" />
</f:if>