<f:switch expression="{page.doktype}">
	<f:case value="42">
		<f:image src="EXT:skin_typo360_blogs/Resources/Public/Icons/page-icon-article.png" class="desaturate" alt="{f:translate(key: 'LLL:EXT:skin_typo360_blogs/Resources/Private/Language/locallang.xlf:pages.doktype.article')}" title="{f:translate(key: 'LLL:EXT:skin_typo360_blogs/Resources/Private/Language/locallang.xlf:pages.doktype.article')}" />
	</f:case>
	<f:case value="43">
		<f:image src="EXT:skin_typo360_blogs/Resources/Public/Icons/page-icon-ticket.png" class="desaturate" alt="{f:translate(key: 'LLL:EXT:skin_typo360_blogs/Resources/Private/Language/locallang.xlf:pages.doktype.ticket')}" title="{f:translate(key: 'LLL:EXT:skin_typo360_blogs/Resources/Private/Language/locallang.xlf:pages.doktype.ticket')}" />
	</f:case>
	<f:case value="44">
		<f:image src="EXT:skin_typo360_blogs/Resources/Public/Icons/page-icon-snippet.png" class="desaturate" alt="{f:translate(key: 'LLL:EXT:skin_typo360_blogs/Resources/Private/Language/locallang.xlf:pages.doktype.snippet')}" title="{f:translate(key: 'LLL:EXT:skin_typo360_blogs/Resources/Private/Language/locallang.xlf:pages.doktype.snippet')}" />
	</f:case>
</f:switch>